
<div class="jumbotron">
  <div class="container">
    <h2>What is The Black Bank?</h2>
    <p>Black Banks are financial institutions ran primariy by people of color, or black members.</p>
  </div>
</div>
