<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to "index" class="navbar-brand"}}Bank Black{{/link-to}}
    </div>
    <div class="nav navbar-nav">
      {{#link-to "banks" class="nav-link"}}View Banks{{/link-to}}
      {{#link-to "about" class="nav-link"}}About Us{{/link-to}}
      {{#link-to "contact" class="nav-link"}}Contact{{/link-to}}

    </div>
  </div>
</nav>

<div class="container center">
  <h3>Know everything about black financial institutions soon</h3>
  <form class="" action="index.html" method="post">
    <div class="form-group">
      <label for="emailinput1"></label>
      {{input id="emailinput1" type="text" class="form-control" value=emailAddress autofocus="autofocus" placeholder="Enter your email"}}
      <small class="form-text text-muted">We never share email details</small>
      <button type="submit" name="button" class="btn btn-primary" disabled={{isDisabled}} {{action "saveInvite"}}>Sign Up</button>
    </div>
  </form>

  {{#if responseMessage}}
    <div class="form-response alert alert-success">
      {{responseMessage}}
    </div>
  {{/if}}
</div>
